#img_logo{
    margin-top: 150px;
    width: 200px;
}
#logo_br{
    text-align: center;
    margin: 0 auto;
}

#folha_form_a1{
    position: relative;
    z-index: -999;
    width: 594.96px;
    height: 842.52px;
    padding-top: 10px;
    padding-bottom: px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#folha_form_a3{
    position: relative;
    z-index: -999;
    width: 594.96px;
    height: 842.52px;
    padding-top: 10px;
    padding-bottom: px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#header_form{
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    font-size: 15px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    color: rgb(32,176,55);
    width: 594.96px;
    height: 832.52px;
    position: relative;
    z-index: 1;
}

#page_form_dados{
width: 100%;
height: 100%;
}

#qrcode{
    height: 120px;
    margin-top: -50px;
    position: relative;
    width: 120px;
}

#aviso{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    line-height: 0.95;
}

#txt_3{
    width: 580px;
}

#txt_header_form{
    font-weight: bold;
}
#img_txt_form{
    width: fit-content;
    height: fit-content;
    display: flex;
}
#img_cadeado{
    margin-left: -5px;
}

.input_dados_pdf2{
    width: 380px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.input_dados_pdf{
    width: 150px;
    border-top: none;
    border-left: none;
    border-right: none;
}

#input_pin_puk{
    padding-left: -10px;
}

.input_dados_cod{
    width: 120px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.input_dados_cod2{
    width: 250px;
    border-top: none;
    border-left: none;
    border-right: none;
}

#title_form{
    margin-top: -20px;
    color: black;
    text-align: left;
    font-size: 20pt;
}

#txt_letras_pdf{
    width: 250px;
}

#txt_pdf{
    display: flex;
    color: gray;
    margin-left: 10px;
    line-height: 0.8;
}

#primeira_img{
    margin-left: 20px;
    width: 200px;
    height: 130px;
    z-index: 1;
}

div_primeira_img{
    position: relative;
}

#div_img{
    margin-left: 10px;
    position: relative;
}

#segunda_img{
    position: relative;
    top: 60px;
    left: -150px;
    z-index: 2;
}

#terceira_img{
    position: relative;
    z-index: 3;
    left: -270px;
    top: 130px;
}

#div_imagens_pdf{
    display: flex;
}

.txt_pdf_vermelho{
    color: red;
    line-height: -2;
    
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.span_tit_pdf{
    color: black;
    font-size: 12pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.dados_input{
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 12pt;
}

.dados_input_2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 12pt;
    color: black;
}




#dados_form{
    text-align: left;
    color: black;
}




#div_rodape{
    display: flex;
}
#num_telefone_rodape{
font-size: 13pt;
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
margin-top: 10px;
}

#num_telefone_2{
margin-left: -140px;
margin-top: 40px;
font-weight: bold;
font-size: 13pt;
font-family: 'Courier New', Courier, monospace;
}

#logo_whats_rodape{
width: 40px;
height: 40px;
}

#logo_rodape_pdf{
    margin: 0 auto;
    width: 170px;
    height: 60px;
}

#form_envio_dados{
    margin: 0 auto;
    margin-top: 15%;
    width: 70vw;
    height: 60vh;
    
}

#txt_desc_form{
    position: relative;
    top: -60%;
    font-size: 14pt;
    font-weight: bold;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#txt_desc_form2{
    font-size: 11pt;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#div_span_desc{
    padding-top: 10%;
    padding-right: 10%;
    padding-left: 5%;
}

#descricao_tela{
    text-align: center;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(233, 238, 235);
    width: 50%;
    height: 100%;
    position: relative;
    margin: 0px;
}

#div_input_dados_a1{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    top: -100%;
    margin-left: 50%;
    width: 50%;
    height: 100%;
    position: relative;
    background-color:rgb(1, 139, 210);
    text-align: center;
    color: white;
} 

#div_input_dados_a3{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    top: -100%;
    margin-left: 50%;
    width: 50%;
    height: 100%;
    position: relative;
    background-color:rgb(1, 139, 210);
    text-align: center;
    color: white;
} 

.legenda_input_dados{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13pt;
    line-height: 1;
    margin-left: -5px;
}

.input_dados_form{
    border-radius: 5px;
    color: black;
    width: 60%;
    background-color: rgb(255, 255, 255,0.89);   
}
.input_dados_form_cod{
    margin-right: 5px;
    margin-top: 5px;
    margin-left: -5px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: black;
    width: 20%;
    background-color: rgb(255, 255, 255,0.89);   
}

#title_form_dados{
    font-size: 16pt;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#txt_rodape_form{
    margin-top: -60vh;
    font-family: monospace;
    font-size: 13pt;
}

#btn_baixar_pdf:hover{
    background-color: rgb(3, 50, 73);
    color: rgb(202, 193, 193);
}

#btn_baixar_pdf:active{
    background-color: white;
    color: black;
}

.btn_print_pdf:hover{
    background-color: gray;
    color: rgb(226, 230, 230);
}

.btn_print_pdf{
    border-radius: 5px;
    cursor: pointer;
    width: 10vw;
    color: black;
    font-size: 22pt;
    background-color: rgb(221, 225, 228);
}

#btn_baixar_pdf{
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    color: white;
    font-size: 22pt;
    background-color: rgb(2, 71, 105);
}

#logo_form{
    width: 150px;
    text-align: center;
    margin-bottom: 2vw;
    margin-top: -5vw;
}

#logo_form_dark{
    width: 150px;
    text-align: center;
    margin-bottom: 2vw;
    margin-top: -5vw;
}

.btn_escolher_modelo{
    width: 7.5vw;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-color: rgb(158, 146, 146);
}

.btn_escolher_modelo:hover{
    background-color: rgb(158, 146, 146);
    color: rgb(255, 255, 255);

}

#btn_light{
    border-radius: 5px;
    font-size: 13pt;
    border: none;
}
#btn_dark{
    border-radius: 5px;
    font-size: 13pt;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
}

#btn_dark_mode{
    position: relative;
    left: 80%;
    width: 20%;
    margin-top: -10%;
    margin-bottom: 1%;
}

#btn_a1_a1{
    background-color: transparent;
    color: white;
    border-width: 5px;
    margin-right: 1.5px;
    border-color: black;
}

#btn_a3_a1{
    border-width: 5px;
}

#btn_a1_a3{
    border-width: 5px;
}

#btn_a3_a3{
    background-color: transparent;
    color: white;
    border-width: 5px;
    margin-left: 1.5px;
    border-color: black;
}

.btn_apagar{
    width: 5vw;
    margin-top: 2%;
    position: relative;
    border-color: white;

}

.btn_apagar:hover{
    background-color: rgb(170, 170, 170);
    border-color: rgb(211, 211, 211);
    cursor: pointer;
}